.aimWrap h2{
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0px 50px 0px;
}
.aimItems{
    display: flex;
    justify-content: space-between;
}
.aimItem{
    width: 31%;
}
.aimItem img{
    margin-bottom: 15px;
}
.aimItem h3{
    width: 80%;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.aimItem p{
    width: 80%;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
}